boto3==1.26.161
botocore==1.29.161
certifi==2023.5.7
cffi==1.15.1
click==8.1.3
cmake==3.26.4
filelock==3.12.2
idna==3.4
Jinja2==3.1.2
jiwer==3.0.2
jmespath==1.0.1
lit==16.0.6
llvmlite==0.40.1
MarkupSafe==2.1.3
more-itertools==9.1.0
mpmath==1.3.0
networkx==3.1
numba==0.57.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
openai-whisper @ git+https://github.com/openai/whisper.git@248b6cb124225dd263bb9bd32d060b6517e067f8
pycparser==2.21
python-dateutil==2.8.2
rapidfuzz==2.13.7
regex==2023.6.3
requests==2.27.1
s3transfer==0.6.1
six==1.16.0
SpeechRecognition @ git+https://github.com/fabSteininger/speech_recognition.git@74128d24a7a8fc9a862cd82684191fb7af1451fc
srt==3.5.3
sympy==1.12
tiktoken==0.3.3
torch==2.0.1
tqdm==4.65.0
triton==2.0.0
typing_extensions==4.6.3
urllib3==1.26.16
vosk==0.3.45
websockets==11.0.3
PyAudio==0.2.13
sounddevice==0.4.6
text2num==2.5.0
pynput==1.7.6 
notify-py==0.3.42
ffmpeg-python==0.2.0