certifi==2022.9.14
cffi==1.15.1
charset-normalizer==2.1.1
idna==3.4
jarowinkler==1.2.1
jiwer==2.5.1
Levenshtein==0.20.2
numpy==1.23.3
pandas==1.5.0
pocketsphinx==0.1.15
PyAudio==0.2.12
pycparser==2.21
python-dateutil==2.8.2
python-Levenshtein==0.12.2
pytz==2022.2.1
pywebio==1.6.3
rapidfuzz==2.10.0
requests==2.28.1
six==1.16.0
speech-recognition==3.8.1
srt==3.5.2
stt==1.4.0
swig==4.0.2
tornado==6.2
tqdm==4.64.1
ua-parser==0.16.1
urllib3==1.26.12
user-agents==2.2.0
vosk==0.3.43
